@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@media screen and (min-width: 600px) {
  .contenedor {
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 0.5fr 0.2fr 3fr 0.3fr;
    grid-template-areas: "header header header " "nav nav nav"                              "article main main" "footer footer"; } }

@media screen and (min-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 0.5 0.5fr 1fr;
    grid-template-areas: "nav nav nav"  "header header header"                              "article main main" "footer footer footer"; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

header {
  grid-area: header;
  width: 100%; }
  header img {
    width: 100%;
    height: 95%; }
  header .encabezado {
    position: static; }

article {
  grid-area: article; }
  article .carousel-item {
    width: 400px; }

nav {
  grid-area: nav; }
  nav .logo {
    width: 15%; }
  nav .navbar-nav {
    font-size: 20px; }
  nav .navbar-nav :hover {
    background-color: aliceblue;
    text-decoration: underline; }

main {
  grid-area: main;
  gap: 1rem; }
  main .navbar-nav :hover {
    background-color: aliceblue;
    text-decoration: underline; }

footer {
  grid-area: footer;
  column-gap: 1rem;
  background-color: black;
  bottom: 0;
  padding: 10px;
  width: 100%; }
  footer h3 {
    color: yellow;
    font-weight: bold; }
  footer .contenedor {
    display: grid;
    height: 120vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-template-areas: "header" "article" "nav" "main" "footer"; }

/*menu*/
.navbar-toggler {
  color: black; }

/*form-contacto*/
.form-contacto {
  border: 1px solid blue; }

.navbar-nav :hover {
  background-color: aliceblue;
  text-decoration: underline; }

/*sub-menu del menu*/
.dropdown-menu {
  font-size: 20px; }

.dropdown-menu :hover {
  background-color: brown; }

.navbar-nav {
  font-size: 35px; }
