@import "utilities/variables";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import "utilities/media";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
header{
grid-area: header;
width: 100%;
 img{
    width: 100%;
    height: 95%;
}
.encabezado{
    position:static;
}
}
article{
    grid-area: article;
    .carousel-item{
        width: 400px;
    } 
    
 }
nav{ 
    grid-area: nav;   
    .logo{
        width: 15%;
    }
    .navbar-nav{
        font-size: 20px;
        
    }
    .navbar-nav :hover{
        background-color: aliceblue;
        text-decoration: underline;
    }
   
}  
main{
    grid-area: main; 
    gap: 1rem;  
    .navbar-nav :hover{
        background-color: aliceblue;
        text-decoration: underline;
    }
}

footer{
    grid-area: footer;
   column-gap: 1rem;
   background-color: $color-principal;
   bottom: 0;
   padding: 10px;
   width: 100%;
   h3{
    color: yellow;
    font-weight: bold;
}



.contenedor{
    display: grid;
    height: 120vh;     
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-template-areas: "header"
                         "article"
                         "nav"
                         "main"
                         "footer";
}
}
/*menu*/
.navbar-toggler{
    color:black
}
/*form-contacto*/
.form-contacto{
    border: 1px solid blue;
}



.navbar-nav :hover{
    background-color: aliceblue;
    text-decoration: underline;
}
/*sub-menu del menu*/
.dropdown-menu{
    font-size: 20px;

}
.dropdown-menu :hover{
    background-color: brown;
}
.navbar-nav{
    font-size: 35px;
    
}
